<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QR CODE 確認ページ</title>
</head>
<body>
    <p>{{ data.contact.name }}</p>
    {% if data.premium_distribution_ok %}
    <p>景品をお渡し済です。</p>
    {% else %}
    <p>景品をお渡ししてください。</p>
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="submit" value="配布する">
    </form>
    {% endif %}
    <p>投稿した画像</p>
    <ul style="width: 320px; margin: 0; padding: 0;">
        {% for image in data.images %}
        <li style="list-type: none; margin: 0 0 10px 0">
            <img src="{{ image }}" alt="" style="width: 100%; height: auto;">
        </li>
        {% endfor %}
    </ul>
</body>
</html>